@{
    ViewData["Title"] = "Browse the Library";
}

<div>
    <h1 class="text-center">Browse the Library</h1>
    <p class="dataDisplay">
        Use the topics below to browse the contents of the Library. Each topic toggles to reveal the specific articles 
        contained in that category. Follow the links to review a specific article.
    </p>
</div>