@model Entry

@{
    Layout = null;
}

<h1>@Model.Title</h1>

<div>
      @foreach (string sentence in Model.Content)
      {
          if (sentence.Length < 100)
          {
              <h3 class="dataDisplay">@sentence</h3>
          }
          else
          {
              <p class="dataDisplay">@sentence</p>
          }
      }
</div>