@{
    ViewData["Title"] = "The Library of Vermundi";
}
<div class="container-fluid navbar navbar-left dataDisplay">
    <div class="row">
        <ul class="list-unstyled col-md-3 navigation p-0 m-0">
            <li class="bg-dark m-3">
                <a asp-action="Index" asp-controller="Home" class="text-center p-2 text-light">Home</a>
            </li>
            <li class="bg-dark m-3">
                <a asp-action="Trivia" asp-controller="Home" class="text-center text-light p-2">Trivia Quiz</a>
            </li>
        </ul>
        <div class="col-md-9 main ms-0 text-light lh-lg">
            <h1 class="display-4 p-3">The Library of Vermundi</h1>
            <p class="fst-italic fs-5">
                Welcome to the Library of Vermundi, a comprehensive collection of the knowledge contained
                within the fabled library of the Civitas I Vermundi. Within these walls, you will find entries
                in such areas as current events, dynastic history, the history of the Empire itself, and even
                the history of the Demon War. Knowledge of the latter has only recently been brought hither by
                those who have reason to know the events of that legendary conflict better than any creature on earth.
            </p>
            <p class="fst-italic fs-5">
                Accordingly, you may find contained within these pages knowledge that not even the legends,
                known to every citizen of the Empire, have reported. Be warned that these truths may not
                be such that you could wish. Much of this knowledge will be particularly pertinent so long
                as Vortigern holds the throne, and as such, you may rest assured that he would censure it if
                he could. Use this knowledge wisely, always bearing in mind that even the possession of it
                could be dangerous, in the current political climate.
            </p>
            <p class="fst-italic fs-5">
                I speak as one familiar both with the political trends of the last decade or so, and with the
                knowledge itself, which has been a closely guarded secret of the dynasty for generations; who
                is familiar with the reasons that have impelled the dynasties to keep it secret for so long;
                but who has always believed that the concealment of the knowledge of dangerous phenomena is
                a particularly inept form of protection.
            </p>
            <p class="fst-italic text-end fs-4">
                - Prince Vathar
            </p>
            <div>
                @*<img class="d-block w-100" alt="library" src="pics/peter-herrmann-library.jpg">*@
            </div>
        </div>
    </div>
</div>
