@using System.Numerics
@using Microsoft.EntityFrameworkCore
@model QuizVM

@{
    ViewData["Title"] = "Trivia Game";
}

<div>
    <h2>Test Your Knowledge</h2>
    <form method="post" class="container">
        @foreach (Question q in Model.Questions)
            {
                <div class="row p-5">
                    <label for="ans" class="col-md-6">@q.Query</label>
                    <input type="text" id="ans" name="answer" value="@q.UserAnswer" class="col-md-2 bg-dark-subtle"/>
                    <input type="hidden" name="id" value="@q.Source.EntryId"/>
                    <input type="hidden" name="query" value="@q.Query"/>
                    <button type="submit" class="col-md-1 ms-5 btn btn-info">Submit</button>
                    @if (q.UserAnswer != null)
                    {
                        if (q.Correct)
                        {
                            <span class="col-md-1">Right</span>
                        }
                        else
                        {
                            <span class="col-md-2">Wrong</span>
                        }
                    }
                </div>
            }
    </form>
</div>