@model Entry

@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="text-center p-5">@Model.Title</h1>

<div>
      @foreach (string sentence in Model.Content)
      {
          if (sentence.Length < 60)
          {
              <h3 class="dataDisplay pt-3">@sentence</h3>
          }
          else
          {
              <p class="dataDisplay">@sentence</p>
          }
      }
</div>