@model Entry
@{
    ViewData["Title"] = "Contribution Form";
}

<h1 class="display-4">Contribution Form</h1>
<form method="post" class="container">
    <div class="row p-2">
        <label asp-for="CategoryId" class="col-form-label col-md-2 mb-3">Category</label>
        <div class="col-md-2">
            <select asp-for="CategoryId" class="form-select">
                <option value="">select a category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryId">@c.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="row p-2">
        <label for="title" class="col-form-label col-md-2 mb-3">Title</label>
        <div class="col-md-8">
            <input id="title" name="Title" class="form-control bg-dark-subtle">
        </div>
    </div>

    <div class="row p-2">
        <label for="content" class="col-form-label col-md-2 mb-3">Content</label>
        <div class="col-md-8">
            <textarea id="content" name="RawContent" class="form-control bg-dark-subtle"></textarea>
        </div>
    </div>
    <div class="row p-2">
        <label for="name" class="col-form-label col-md-2 mb-3">User Name</label>
        <div class="col-md-8">
            <input id="name" name="Contributor.UserName" class="form-control bg-secondary-subtle">
        </div>
    </div>
    <div class="row p-2 offset-8">
        <div class="col-md-2 me-3">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        <div class="col-md-2">
            <a asp-controller="Search" asp-action="Index" class="btn btn-warning">Cancel</a>
            @*<button type="button" id="viewContent" class="btn btn-warning">Cancel</button>*@
        </div>
    </div>
</form>
<script>
    // TESTING WHETHER THE DATA IS BEING SENT
    @*console.log("Javascript is on the job!");
    document.getElementById("viewContent").addEventListener("click", function()
    {
        let content = document.getElementById("content").value;
        let hasPar = content.search("\n");
        console.log(hasPar);
        console.log(content);
    });*@
    


</script>