@model Entry
@{
    ViewData["Title"] = "Library Catalog";
}

<div class="navbar navbar-left container-fluid dataDisplay">
    <div class="row">
        <ul class="list-unstyled col-md-3 navigation p-0 m-0">
            <li class="bg-dark m-3">
                <a asp-action="Index" asp-controller="Search" class="text-center p-2 text-light">Search</a>
            </li>
            <li class="bg-dark m-3">
                <a asp-action="ContributionForm" asp-controller="Search" class="text-center p-2 text-light">Contribution Form</a>
            </li>
            <li class="m-3">
                <form asp-action="SearchReader" asp-controller="Search" class="container">
                    <div class="row">
                        <input type="text" placeholder="Enter a title, keyword, topic, etc..." name="key" class="col-md-10">
                        <button type="submit" class="col-md-2"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </li>
        </ul>
        <div class="col-9 main ms-0">
            <h1 class="text-center">Welcome to the Library Catalog</h1>
            <h5 class="pt-5">
                Follow the links on the left to contribute an entry to the Library's vaults; 
                use the search function to search for a specific article; 
                or check out our featured article below.
            </h5>
            <div class="mt-5">
                <h5 class="text-center">Featured Article:</h5>
                @if (Model.RawContent != "")
                {
                    <h5 class="text-center">@Model.Title</h5>
                    foreach (string par in Model.Content)
                    {
                        if (par.StartsWith("**"))
                        {
                            <h5>@par.Substring(2, par.Length - 4)</h5>
                        }
                        else if (par.Length < 100)
                        {
                            <h4>@par</h4>
                        }
                        else
                        {
                            <p>@par</p>
                        }
                    }
                }
            </div>
        </div>
    </div>
</div>