

@{
    ViewData["Title"] = "Search Page";
}

<div>
    <h1>Search Here</h1>
    <form asp-action="SearchReader" asp-controller="Search">
        <input type="text" placeholder="Enter the title of the article you're searching for..." name="key">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
</div>
