@model List<Entry>
@{
    ViewData["Title"] = "Library Catalog";
}

<h1 class="text-center">Search the Library Catalog</h1>
<ul class="list-unstyled">
    <li>
        <a asp-action="Index" asp-controller="Search" class="btn btn-success">Search Home</a>
    </li>
    <li>
        <a asp-action="ContributionForm" asp-controller="Search" class="btn btn-danger">Contribution Form</a>
    </li>
</ul>

<div>
    <h1 class="text-center">Search Here</h1>
    @if (Model.Count > 0)
    {
        foreach (Entry e in Model)
        {
            <h3 class="text-center mt-5">@e.Title</h3>
            @foreach (string sentence in e.Content)
            {
                if (sentence.Length < 100)
                {
                    <h5 class="dataDisplay pt-5">@sentence</h5>
                }
                else
                {
                    <div class="dataDisplay">@sentence</div>
                }
            } 
        }
        
    } else
    {
        <p>Have a story to contribute?</p>
        <a asp-controller="Search" asp-action="ContributionForm" class="btn btn-success">Contribution Form</a>
    }
    
</div>
