@{
    ViewData["Title"] = "Library Catalog";
}

<h1 class="text-center">Search the Library Catalog</h1>
<ul>
    <li>
        <a asp-action="Index" asp-controller="Search">Search Home</a>
    </li>
    <li class="nav-item">
        <a asp-action="Search" asp-controller="Search">Search</a>
    </li>
</ul>
    
