@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>The Library of Vermundi</title>
    </head>
    <body>
        <h1>The Library of Vermundi</h1>
        <p>Welcome to the Library of Vermundi, a comprehensive collection of the most controversial information in the Empire.</p>
    </body>
</html>