@{
    ViewData["Title"] = "The Library of Vermundi";
}


<h1 class="display-4 text-light text-center">The Library of Vermundi</h1>
<p class="text-light text-center fst-italic">Welcome to the Library of Vermundi, a comprehensive collection of the most 
    controversial information in the Empire.</p>
<div>
    <a asp-action="ContributionForm" asp-controller="Home">Contribution Form</a>
    <img class="d-block w-100" alt="library" src="pics/peter-herrmann-library.jpg">
</div>

