@{
    ViewData["Title"] = "The Library of Vermundi";
}


<h1 class="display-4">The Library of Vermundi</h1>
<p>Welcome to the Library of Vermundi, a comprehensive collection of the most controversial information in the Empire.</p>

